body {
  background-color: #818181;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  overflow-x: hidden;
}

h1{
  color: white;
}

h2{
  color: white;
}

p{
  color: white;
}