body {
  display: block; /* Mude de flex para block */
  background-color: #818181; /* Garante que a cor cubra tudo */
  overflow-x: hidden; /* Trava qualquer tentativa de scroll lateral */
  width: 100%;
  height: 100%;
  overflow-x: hidden;
}

h1{
  color: white;
}

h2{
  color: white;
}

p{
  color: white;
}